<?xml version="1.0" encoding="utf-8"?>

<?include $(sys.CURRENTDIR)\hat.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Name='$(var.ProductName)'
             Manufacturer='Jens Reimann'
             Id='f8d77942-2adb-11e9-9eba-c85b762e5a2c'
             UpgradeCode='fe1d0bba-2adb-11e9-aca7-c85b762e5a2c'
             Language='1033' Codepage='1252'
             Version='$(var.Version)'>

        <Package Id='*'
                 Keywords='Installer'
                 Description="Hono Admin Tool Installer"
                 Manufacturer='Jens Reimann'
                 InstallerVersion='300'
                 Languages='1033' SummaryCodepage='1252'
                 Compressed='yes' />

        <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>

        <MajorUpgrade  AllowDowngrades="yes"/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
                    <Component Id="MainComponent" Guid="78d3b722-2add-11e9-a113-c85b762e5a2c" DiskId="1">
                        <File Id="MainExe" Name="hat.exe" DiskId="1" Source="target/release/hat.exe" KeyPath="yes"/>
                        <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="yes" Part="last" Action="set" System="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <DirectoryRef Id="TARGETDIR">
            <Merge Id="VCRedist" SourceFile="c:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_x64.msm" DiskId="1" Language="0"/>
        </DirectoryRef>

        <Feature Id="Complete"
                 Title="$(var.ProductName)"
                 Description="The $(var.ProductName)"
                 Level="1">
            <ComponentRef Id="MainComponent"/>
        </Feature>
        <Feature Id="VCRedist" Title="Visual C++ Runtime" AllowAdvertise="no" Display="hidden" Level="1">
            <MergeRef Id="VCRedist"/>
        </Feature>

    </Product>
</Wix>